*{
  font-family: Georgia;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.indexbody{
  margin: auto;
  max-width: 1280px;
  /*background-image: url('./heather-ford-rxcEgbjFCjc-unsplash.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed; 
  background-size: cover;*/
  height: 100vh;
}
