.main-footer{
	color: white;
	/*background-color:  //#677;*/
	background-color: rgba(102, 119, 119, 0.8);
	background-position: center;
  	background-repeat: no-repeat;
  	background-attachment: fixed; 
  	background-size: cover;
	padding-top: 3em;
	position: relative;
	bottom: 0;
	width: 100%;
}

img {
	height: 24px;
	width: 24px;
}

.nav-link {
	color: #db760b !important;
	font-size: 20px;
}

.nav-link:hover {
	color: #375743 !important;
}

.brandName {
	color: #375743 !important;
	font-size: 22px;
}